<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CNE Maquinas 2024 - Como usar la aplicaci&oacute;n</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CNE Maquinas 2024 - Como usar la aplicaci&oacute;n</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="black">
    <h3>
      <p>La aplicaci&oacute;n simula una m&aacute;quina de votaci&oacute;n que muestra los votos en su caja e imprime su
        acta con los
        resultados.
      </p>
      <p>La aplicaci&oacute;n demuestra que la m&aacute;quina de votaci&oacute;n se puede programar para imprimir las
        actas con resultados
        falsos.
      </p>
      <p>"Imprimir Acta" activara la trampa cuando:<br />
        A) En total hayan 20 o m&aacute;s votos<br />
        B) No se abra la caja para verificar la m&aacute;quina<br />
      </p>
      <p>
        El CNE verifica menos del 54% de las m&aacute;quinas, quedan m&aacute;s del 46% sin verificar para que la
        DICTADURA pueda
        cambiar los totales y hacer ¡FRAUDE!.
      </p>
      <p>
        ¡¡¡DEBEMOS IMPEDIR TODAS LAS FALSAS ELECCIONES ELECTRONICAS!!!<br />
        Hasta que se hagan manuales, sin m&aacute;quinas, con REP limpio<br />
        Contando nosotros nuestros votos con nuestras manos.<br />
      </p>
      <p> Acciones:<br />
        - COMPARTIENDO que debemos impedir las elecciones que vengan por todas partes.<br />
        - FORMANDO TU GRUPO, con gente de confianza, vecinos y amigos que acepten impedir las elecciones.<br />
        - IMPIDIENDO LAS ELECCIONES colocando Barricadas, dejarlas solas, volver a casa, NO enfrentar. La semana antes y
        despu&eacute;s de todas las elecciones que vengan.<br />
        - HACIENDO BARRICADAS con cualquier cosa sirve, &aacute;rboles, ramas, piedras, basura, lo que sea que bloquee
        la v&iacute;a, las dejas solas, NO enfrentar.<br />
        - NO ENFRENTAR, ellos tienen armas, no tienes que arriesgarte solo impedir las elecciones.<br />
      </p>
      <p>
        Por favor apoya a nuestra pagina Venezuela Voto Manual compartiendo nuestras redes sociales con tus amigos, en
        tus grupos, en muchas p&aacute;ginas, en todos lados y digamos a todos que.<br />
        ¡¡¡VENEZUELA EXIGE VOTO MANUAL!!!
      </p>
      <p>
        Unete y comparte las redes sociales de Mar&iacute;a Corina Machado por Venezuela Voto Manual en:
      </p>
    </h3>
  </ion-text>
  <ion-button
    onclick="window.open('http://facebook.com/venezuela.voto.manual', '_system', 'location=yes'); return false;">
    <ion-icon name="logo-facebook"></ion-icon>
    &nbsp; Facebook
  </ion-button>
  <ion-button onclick="window.open('https://twitter.com/VzlaVotoManual', '_system', 'location=yes'); return false;">
    <ion-icon name="logo-twitter"></ion-icon>
    &nbsp; Twitter
  </ion-button>
  <ion-button
    onclick="window.open('https://www.youtube.com/user/VenezuelaVotoManual', '_system', 'location=yes'); return false;">
    <ion-icon name="logo-youtube"></ion-icon>
    &nbsp; Canal YouTube.
  </ion-button>


  <ion-text color="black">
    <h3>
      <p>La aplicaci&oacute;n c&oacute;digo fuente esta disponible en:
      </p>
    </h3>
  </ion-text>
  <ion-button onclick="window.open('https://github.com/VenezuelaVotoManual', '_system', 'location=yes'); return false;">
    <ion-icon name="logo-github"></ion-icon>
    &nbsp; GitHub
  </ion-button>

</ion-content>